---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Navbar from '@/components/Navbar.astro'
import Hero from '@/components/Hero.astro'
import Playground from '@/components/Playground.astro'
import Showcase from '@/components/Showcase.astro'
import Services from '@/components/Services.astro'
import Projects from '@/components/Projects.astro'
import Process from '@/components/Process.astro'
import Faq from '@/components/Faq.astro'
import Cta from '@/components/Cta.astro'
import Footer from '@/components/Footer.astro'
---

<BaseLayout>
	<Navbar />
	<main>
		<Hero />
		<Showcase />
		<Playground />
		<Services />
		<Projects />
		<Process />
		<Faq />
		<Cta />
	</main>
	<Footer />
</BaseLayout>
